@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #babbc5;
  padding: 38px 0 36px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  max-width: 184px;
  display: flex;
}
.header__nav {
  display: flex;
  gap: 40px;
}

.nav__link {
  color: #fff;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover {
  color: #babbc5;
}

.nav__link:active {
  color: #e71414;
}

.header__burger {
  display: none;
}

.banner {
  background-image: url(../image/bannerFon.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 223px 0 120px; /*захватывает не то расстояние*/
}
.banner::before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(37, 43, 73, 0.8);
}
.banner__container {
  z-index: 1;
  position: relative;
  color: #fff;
  text-align: center;
}
.banner__title {
  font-size: 64px;
  line-height: 75px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 31px;
}
.banner__text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 80px;
}

.button {
  width: 100%;
  max-width: 370px;
  background-color: #ff4343;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  padding: 24px;
  border: none;
}

.button:hover {
  background-color: #e71414;
}

.button:active {
  box-shadow: 4px 4px 30px #ff4343;
}

@media (max-width: 1024px) {
  .header__nav {
    gap: 25px;
  }
  .nav__link {
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
  }
  .banner__title {
    font-size: 48px;
    line-height: 56px;
    font-weight: 900;
    margin-bottom: 62px;
  }
  .banner__text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 89px;
  }
  .button {
    max-width: 314px;
  }
}
@media (max-width: 767px) {
  .header {
    border-bottom: none;
    padding: 19px 0;
  }
  .header__logo {
    display: flex;
    max-width: 103px;
  }
  .header__nav {
    display: none;
  }
  /*
    .header__burger{
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
    }
    .header__burger::before, 
    .header__burger::after{
      content: '';
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
    }
    .header__burger span{
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 9px;
    }
    .header__burger::before{
      top: 0;
    }
  .header__burger::after{
    bottom: 0;
  }*/
  .banner {
    padding: 106px 0 52px;
  }
  .banner__title {
    font-size: 36px;
    line-height: 42px;
    font-weight: 900;
    margin-bottom: 41px;
  }
  .banner__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 59px;
  }
  .button {
    max-width: 279px;
    padding: 15px;
    margin-bottom: 52px;
  }
}
/*------------FEATURE--------------------*/
.features {
  padding: 109px 0 116px;
}
.features__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 31px;
       column-gap: 31px;
  row-gap: 88px;
}

.feature {
  text-align: center;
}
.feature__icon-wrapper {
  margin-bottom: 51px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  color: #2d3033;
  margin-bottom: 42px;
  text-transform: uppercase;
}
.feature__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #6c7279;
}

@media (max-width: 1024px) {
  .feature__icon-wrapper {
    max-width: 85px;
  }
  .feature__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
  }
  .feature__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .features__container {
    grid-template-columns: 1fr;
  }
}
/*------------PROJECTS--------------------*/
.projects__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1510px;
  padding: 0;
}

.project {
  aspect-ratio: 380/340;
  overflow: hidden;
  position: relative;
  border: 2px solid #ffffff;
}
.project__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project__content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 67, 67, 0.8);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.project__content:hover {
  opacity: 1;
}
.project__content:active {
  opacity: 1;
  background-color: #b90c0c;
}
.project__name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 37px;
}
.project__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
}

@media (max-width: 1024px) {
  .project__name {
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    margin-bottom: 22px;
  }
  .project__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .projects__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .project__name {
    margin-bottom: 7px;
  }
}/*# sourceMappingURL=style.css.map */