$main-font: "Raleway", sans-serif;
$background-banner: rgba(37, 43, 73, 0.8);
$border-bottom-banner: 1px solid #babbc5;
$text-color: #fff;
$bottom-background-color: #ff4343;
$bottom-background-hover: #e71414;
$link-color-hover: #babbc5;
$link-color-active: #e71414;
$title-color-feature: #2d3033;
$text-color-feature: #6c7279;
$content-project-active: #b90c0c;

@mixin font($fontSize, $lineHeight, $fontWeight: 400) {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $main-font;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: $border-bottom-banner;
  padding: 38px 0 36px;

@media (max-width: 767px) {
    border-bottom: none;
    padding: 19px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    max-width: 184px;
    display: flex;
  }
  @media (max-width: 767px) {
    display: flex;
    max-width: 103px;
  }
  &__nav {
    display: flex;
    gap: 40px;
  }
  @media (max-width: 1024px) {
    gap: 25px;
  }
}

.nav{
  @media (max-width: 767px) {
    display: none;
  }

&__link {
  color: #fff;
  @include font(13px, 15px, 700);
  text-transform: uppercase;
  text-decoration: none;

  @media (max-width: 1024px) {
    @include font(12px, 14px, 700);
  }

  &:hover {
  color: $link-color-hover;
}

&:active {
  color: $link-color-active;
}
}
}

.banner {
  background-image: url(../image/bannerFon.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 223px 0 120px; /*захватывает не то расстояние*/

  @media (max-width: 767px) {
    padding: 106px 0 52px;
  }
  &::before {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: $background-banner;
  }
  &__container {
    z-index: 1;
    position: relative;
    color: #fff;
    text-align: center;
  }
  &__title {
    @include font(64px, 75px, 900);
    text-transform: uppercase;
    margin-bottom: 31px;
  }
    @media (max-width: 1024px) {
    @include font(48px, 56px, 900);
    margin-bottom: 62px;
  }
  @media (max-width: 767px) {
    @include font(36px, 42px, 900);
    margin-bottom: 41px;
  }
  &__text {
    @include font(24px, 28px);
    margin-bottom: 80px;
  }
 @media (max-width: 1024px) {
    @include font(18px, 21px);
    margin-bottom: 89px;
  } 
  @media (max-width: 767px) {
    @include font(14px, 16px);
    margin-bottom: 59px;
  }
}
.button {
  width: 100%;
  max-width: 370px;
  background-color: $bottom-background-color;
  @include font(24px, 28px, 900);
  color: $text-color;
  text-transform: uppercase;
  padding: 24px;
  border: none;

  &:hover {
  background-color: $bottom-background-hover;
}
  &:active {
  box-shadow: 4px 4px 30px #ff4343;
}
@media (max-width: 1024px) {
    max-width: 314px;
  }
@media (max-width: 767px) {
    max-width: 279px;
    padding: 15px;
    margin-bottom: 52px;
  }
}
/*------------FEATURE--------------------*/
.features {
  padding: 109px 0 116px;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 31px;
    row-gap: 88px;
  }
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.feature {
    text-align: center;

  &__icon-wrapper {
    margin-bottom: 51px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  @media (max-width: 1024px) {
    max-width: 85px;
  }
  &__title {
    @include font(24px, 28px, 900);
    color: $title-color-feature;
    margin-bottom: 42px;
    text-transform: uppercase;
  }
  @media (max-width: 1024px) {
    @include font(18px, 21px, 900);
  }
  &__text {
    @include font(18px, 21px);
    color: $text-color-feature;
  }
  @media (max-width: 1024px) {
    @include font(14px, 16px);
  }
}

/*------------PROJECTS--------------------*/
.projects {
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1510px;
    padding: 0;
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.project {
  aspect-ratio: 380/340;
  overflow: hidden;
  position: relative;
  border: 2px solid #ffffff;
  
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 67, 67, 0.8);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: 1;
      background-color: $content-project-active;
    }
  }
  &__name {
    @include font(24px, 28px, 900);
    color: $text-color;
    text-transform: uppercase;
    margin-bottom: 37px;
  }
  @media (max-width: 1024px) {
      @include font(18px, 21px, 900);
      margin-bottom: 22px;
    }
  @media (max-width: 767px) {
    margin-bottom: 7px;
  }
  &__text {
    @include font(18px, 21px);
    color: $text-color;
  }
  @media (max-width: 1024px) {
      @include font(14px, 16px);
    }
}


