$main-font: "Raleway", sans-serif;
$background-banner: rgba(37, 43, 73, 0.8);
$border-bottom-banner: 1px solid #babbc5;
$color-text: #fff;
$bottom-background-color: #ff4343;
$bottom-background-hover: #e71414;
$color-link-hover: #babbc5;
$color-link-active: #e71414;
$color-feature-title: #2d3033;
$color-feature-text: #6c7279;
$project-content-active: #b90c0c;

@mixin font($fontSize, $lineHeight, $fontWeight: 400) {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $main-font;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: $border-bottom-banner;
  padding: 38px 0 36px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    max-width: 184px;
    display: flex;
    margin-bottom: 35px;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
}
.nav__link {
  color: #fff;
  @include font(13px, 15px, 700);
  text-transform: uppercase;
  text-decoration: none;
}
.nav__link:hover {
  color: $color-link-hover;
}
.nav__link:active {
  color: $color-link-active;
}
.banner {
  background-image: url(../image/bannerFon.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 223px 0 120px; /*захватывает не то расстояние*/

  &::before {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: $background-banner;
  }
  &__container {
    z-index: 1;
    position: relative;
    color: #fff;
    text-align: center;
  }
  &__title {
    @include font(64px, 75px, 900);
    text-transform: uppercase;
    margin-bottom: 31px;
    margin-top: 42px;
    position: relative;
  }
  &__text {
    @include font(24px, 28px);
    margin-bottom: 80px;
  }
}
.button {
  width: 100%;
  max-width: 370px;
  background-color: $bottom-background-color;
  @include font(24px, 28px, 900);
  color: $color-text;
  text-transform: uppercase;
  padding: 24px;
}
.button:hover {
  background-color: $bottom-background-hover;
}
.button:active {
  box-shadow: 4px 4px 30px #ff4343;
}

@media (max-width: 1024px) {
  .header__nav {
    gap: 25px;
  }
  .nav__link {
    @include font(12px, 14px, 700);
  }
  .banner__title {
    @include font(48px, 56px, 900);
    margin-bottom: 62px;
  }
  .banner__text {
    @include font(18px, 21px);
    margin-bottom: 89px;
  }
  .button {
    max-width: 314px;
  }
}

@media (max-width: 767px) {
  .header {
    border-bottom: none;
    padding: 19px 0;
  }

  .header__logo {
    display: flex;
    max-width: 103px;
  }
  .header__nav {
    display: none;
  }
  .banner {
    padding: 106px 0 52px;
  }
  .banner__title {
    @include font(36px, 42px, 900);
    margin-bottom: 41px;
  }
  .banner__text {
    @include font(14px, 16px);
    margin-bottom: 59px;
  }
  .button {
    max-width: 279px;
    padding: 15px;
    margin-bottom: 52px;
  }
}
/*------------FEATURE--------------------*/
.features {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
.feature {
  &__wrapper {
    align-items: center;
    text-align: center;
  }
  &__icon-wrapper {
    margin-bottom: 51px;
  }
  &__icon {
    align-items: center;
  }
  &__title {
    @include font(24px, 28px, 900);
    color: $color-feature-title;
    margin-bottom: 42px;
    text-transform: uppercase;
  }
  &__text {
    @include font(18px, 21px);
    color: $color-feature-text;
    margin-bottom: 0px;
  }
}
@media (max-width: 1024px) {
  .feature__icon-wrapper {
    max-width: 85px;
  }
  .feature__title {
    @include font(18px, 21px, 900);
  }
  .feature__text {
    @include font(14px, 16px);
  }
}

@media (max-width: 767px) {
  .features__container {
    grid-template-columns: 1fr;
  }
}
/*------------PROJECTS--------------------*/
.projects {
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
.project {
  aspect-ratio: 380/340;
  overflow: hidden;
  position: relative;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 67, 67, 0.8);
    border: 2px solid #ffffff;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: 1;
      background-color: $project-content-active;
    }
  }
  &__name {
    @include font(24px, 28px, 900);
    color: $color-text;
    text-transform: uppercase;
    margin-bottom: 37px;
  }
  &__text {
    @include font(18px, 21px);
    color: $color-text;
  }
}
@media (max-width: 1024px) {
  .project {
    &__name {
      @include font(18px, 21px, 900);
      margin-bottom: 22px;
    }
    &__text {
      @include font(14px, 16px);
    }
  }
}
@media (max-width: 767px) {
  .projects__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .project__name {
    margin-bottom: 7px;
  }
}
